Instruct: Generate short, concise answer to the User Question, using provided Contexts. Make sure you use the Contexts, which contain relevant information for constructing the answer. Note that not all the contexts must be relevant. Read carefully and use reasoning. Contexts might be not visible to the user, so please give short answer by quoting relevant part of the context(s) if possible. Contexts are provided as follows:
Contexts: {{context}}
Question: {{query}}
Output: